@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Young Serif", "Outfit";
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--stone-100);
}

.container {
  margin-block: 2rem;
  width: 80%;
  max-width: 800px;
  background-color: var(--white);
  padding: 4rem;
  border-radius: 2rem;
}

.title-section {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  font-size: 4rem;
  color: var(--Stone-900);
}

.description {
  color: var(--Stone-600);
  font-size: 1.5rem;
}

img {
  width: 100%;
  border-radius: 1rem;
}

.prepration-time {
  background-color: var(--stone-100);
  padding: 2rem;
  gap: 1.2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 1rem;
  font-family: "Outfit";
}

.section-title {
  font-size: 2.5rem;
  color: var(--Rose-800);
}

.prep-sec-points {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--Stone-600);
}

.bold {
  font-size: 2rem;
  font-weight: 500;
  color: var(--Stone-900);
}

.ingredients {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-block: 3rem;
  gap: 1.5rem;
}

.brown-heading {
  font-size: 3rem;
  color: var(--Brown-800);
  font-weight: 500;
}

.ingredients ul {
  padding-inline: 2rem;
  font-size: 1.8rem;
  color: var(--Stone-600);
  font-family: "Outfit";
}

.ingredients ul li {
  padding-block: 0.7rem;
}

.instruction {
  margin-block: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.instruction ol {
  padding-inline: 2rem;
  text-align: left;
  font-size: 1.8rem;
  color: var(--Stone-600);
  line-height: 2.5rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
  font-family: "Outfit";
  margin-bottom: 1.5rem;
}

.nutrition {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.5rem;
}

.nutrition p {
  font-size: 1.8rem;
  font-family: "outfit";
  color: var(--Stone-600);
}

/* Container styling */
.table-container {
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

/* Table styling */
.nutrition-table {
  border-collapse: collapse;
  width: 100%;
}

.nutrition-table tr th {
  color: var(--Stone-600);
  width: 50%;
}

.nutrition-table td {
  padding: 1rem 0;
  color: var(--Brown-800); /* Brown text color */
}

/* Right-align the values and make them bold */
.nutrition-table .value {
  text-align: right;
  font-weight: bold;
  text-align: left;
}

/* Add border lines between rows */
.nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--Stone-150);
}

ol {
  margin-left: 2rem;
}

ul {
  margin-left: 2rem;
}
.instruction ol li::marker {
  color: var(--Brown-800);
  font-weight: bold;
}

.ingredients ul li::marker {
  color: var(--Brown-800);
  font-weight: bold;
}
.prepration-time ul li::marker {
  color: var(--Rose-800);
  font-weight: bold;
}

@media (max-width: 650px) {
  .nutrition-table td {
    padding-left: 9rem;
  }

  .container {
    margin-block: 0;
    width: 100%;
    border-radius: 0;
    padding: 2rem;
  }

  .heading {
    font-size: 3rem;
  }
}
